@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter','Roboto',system-ui,-apple-system,BlinkMacSystemFont,Segoe UI, Helvetica Neue ,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    
    @apply w-full h-screen flex justify-start md:justify-center text-gray-900;
    max-width: 100vw;
    
  }
  
 
}
@layer components {
  

}